<div id="left-nav" class="side-nav-wrapper mobile:grid-col-12 desktop:grid-col-4 margin-bottom-4">
  <nav aria-label="Side navigation,,">
    <ul class="usa-sidenav margin-top-1">
      <li class="usa-sidenav__item {% if page.url == '/about/' %}usa-current-list-item{% endif %}">
        <a href="{{ '/about/' | url }}"
          class="usa-sidenav__item {% if page.url == '/about/' %}usa-current{% endif %}" 
          {% if page.url == '/about/' %}aria-current="page"{% endif %}>
          {{ mainNavPageTitle }}
        </a>
      </li>
      {%- for aboutPage in collections.about -%}
      <li class="usa-sidenav__item {% if aboutPage.url == page.url %}usa-current-list-item{% endif %}">
        <a href="{{ aboutPage.url | url }}"
          class="usa-sidenav__item {% if aboutPage.url == page.url %}usa-current{% endif %}" 
          {% if aboutPage.url == page.url %}aria-current="page"{% endif %}>
          {{ aboutPage.data.hero_banner.title }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</div>