<footer class="usa-footer">
  {%- include "components/prefooter.html" -%}
  <div class="usa-identifier usa-footer__primary">
    <div class="grid-container usa-footer__primary-content">
      <div class="grid-row padding-top-4 padding-bottom-3 tablet:padding-y-4">
        <div class="GSAFooter">
          <section aria-label="Agency identifier," class="usa-identifier__section usa-identifier__section--masthead">
            <div class="usa-identifier__container">
              <div class="usa-identifier__logos"><a href="https://gsa.gov" class="usa-identifier__logo GSAFooter__logo"><img
                    alt="GSA.gov home." src="{{ '/assets/theme/images/gsa-logo.svg' | url }}"></a></div>
              <div class="usa-identifier__identity" aria-label="Agency description">
                <p class="usa-identifier__identity-domain">10x.gsa.gov</p>
                <p class="usa-identifier__identity-disclaimer">An official website of the <a
                    href="https://gsa.gov/tts">Technology Transformation Services</a></p>
              </div>
            </div>
          </section>
        </div>
      </div>
      <nav aria-label="Important links," class="usa-identifier__section usa-identifier__section--required-links">
        <div class="usa-identifier__container">
          <ul class="usa-identifier__required-links-list">
            <li class="usa-identifier__required-links-item"><a href="https://www.gsa.gov/about-us"
                class="usa-identifier__required-link usa-link">About GSA</a></li>
            <li class="usa-identifier__required-links-item"><a
                href="https://www.gsa.gov/website-information/accessibility-aids"
                class="usa-identifier__required-link usa-link">Accessibility support</a></li>
            <li class="usa-identifier__required-links-item"><a
                href="https://www.gsa.gov/reference/freedom-of-information-act-foia"
                class="usa-identifier__required-link usa-link">FOIA requests</a></li>
            <li class="usa-identifier__required-links-item"><a
                href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
                class="usa-identifier__required-link usa-link">No FEAR Act data</a></li>
            <li class="usa-identifier__required-links-item"><a href="https://www.gsaig.gov/"
                class="usa-identifier__required-link usa-link">Office of the Inspector General</a></li>
            <li class="usa-identifier__required-links-item"><a
                href="https://www.gsa.gov/reference/reports/budget-performance"
                class="usa-identifier__required-link usa-link">Performance reports</a></li>
            <li class="usa-identifier__required-links-item"><a href="{{ '/privacy-policy/' | url }}"
                class="usa-identifier__required-link usa-link">Privacy policy</a></li>
            <li class="usa-identifier__required-links-item"><a href="mailto:10x@gsa.gov" class="display-block"
                rel="noopener noreferrer" target="_blank"><svg aria-labelledby="svg-inline--fa-title-r7g8fmNltrar"
                  class="svg-inline--fa fa-envelope fa-w-16 margin-right-1" width="16" height="16" data-icon="envelope" data-prefix="fas"
                  role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                  <title id="svg-inline--fa-title-r7g8fmNltrar">envelope</title>
                  <path
                    d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                    fill="currentColor"></path>
                </svg>Email Us</a></li>
          </ul>
        </div>
      </nav>
      <section aria-label="U.S. government information and services,"
        class="usa-identifier__section usa-identifier__section--usagov">
        <div class="usa-identifier__container">
          <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?&nbsp;</div> <a
            href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
        </div>
      </section>
    </div>
  </div>
</footer>