<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{- title }} | {{ site.title -}}</title>
  <meta property="og:site_name" content="{{- site.title -}}">
  <meta property="og:title" content="{{- title }} | {{ site.title -}}">

  <meta name="description" content="{{- description }} {{ site.description }}">
  <meta property="og:description" content="{{- description -}}">
  <meta property="og:locale" content="en_US"/>

  <link rel="canonical" href="{{- site.url -}}{{- page.url | url -}}">
  <meta content="{{- site.url -}}{{- page.url | url -}}" property="og:url">

  <meta content="article" property="og:type">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="{{ '/10x_og_image.png' | url }}" property="og:image">
  <meta content="{{ '/10x_og_image.png' | url }}" name="twitter:image">
  <meta content="10x is the federal government's very own venture studio" property="og:image:alt">

  <meta content="IE=edge" http-equiv="X-UA-Compatible">

  <link href="{{ '/favicon/apple-touch-icon.png' | url }}" rel="apple-touch-icon" sizes="180x180">
  <link href="{{ '/favicon/favicon-32x32.png' | url }}" rel="icon" sizes="32x32" type="image/png">
  <link href="{{ '/favicon/favicon-16x16.png' | url }}" rel="icon" sizes="16x16" type="image/png">
  <link href="{{ '/favicon/favicon.ico' | url }}" rel="shortcut icon">

  <link rel="preload" as="style" href="{{ assetPaths['index.css'] }}" />
  <link rel="stylesheet" href="{{ assetPaths['index.css'] }}" type="text/css" />
  {% capture js %}
  {% include "theme/js/inline.js" %}
  {% endcapture %}
  <script>{{ js | jsmin }}</script>

  <meta content="mNhXg2ozV8Qe5Vc_AQ-P533jA7Ysf3dQa39oO1Wvd5k" name="google-site-verification">
  <script src="https://www.google-analytics.com/analytics.js" async=""></script>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA&amp;subagency=TTS" async=""
    id="_fed_an_ua_tag" type="text/javascript"></script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-5248S4F');</script>
  <!-- End Google Tag Manager -->

  <script src="//search.usa.gov/javascripts/remote.loader.js" type="text/javascript" defer></script>
  <link href="http://search.usa.gov">

  <script src="{{ '/assets/uswds/js/uswds-init.js' | url }}"></script>

  <script async="" src="{{ assetPaths['app.js'] }} "></script>
</head>