<div id="left-nav" class="side-nav-wrapper mobile:grid-col-12 desktop:grid-col-4 margin-bottom-4">
  <nav aria-label="Side navigation,,">
    <ul class="usa-sidenav">
      {%- for tag in tags-list -%}
        {% capture tagUrl %}/news/tags/{{ tag }}/{% endcapture %}
        <li class="usa-sidenav__item {% if page.url contains tag %}usa-current-list-item{% endif %}">
          <a href="{{ tagUrl | url }}"
            class="usa-sidenav__item {% if page.url contains tag %}usa-current{% endif %}">
            {{ tag }}
          </a>
        </li>   
      {%- endfor -%}
      {% if page.url contains tag %}
      <li class="usa-sidenav__item {% if page.url contains tag %}usa-current-list-item{% endif %}">
        <a href="{{ list-url | url }}"
          class="usa-sidenav__item">
          {{ back-to-news-updates_text }}
        </a>
      </li>  
      {% endif %}
    </ul>
  </nav>
</div>