<div class="grid-row margin-bottom-3">
  <nav class="usa-breadcrumb padding-y-0" aria-label="Breadcrumbs,,">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="{{ '/' | url }}" class="usa-breadcrumb__link">
          <span>
            {{ home-link-text }}
          </span>
        </a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <a href="{{ list-url | url }}" class="usa-breadcrumb__link">
          <span>
            {{ news-update-text }}
          </span>
        </a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>
          {{ title }}
        </span>
      </li>
    </ol>
  </nav>
</div>