<nav aria-label="Pagination" class="usa-pagination">
  <ul class="usa-pagination__list">
      {% if pagination.href.previous %}
      <li class="usa-pagination__item usa-pagination__arrow">
          <a href="{{ pagination.href.previous }}" class="usa-pagination__link usa-pagination__previous-page"
              aria-label="Previous page">
              <svg class="usa-icon" aria-hidden="true" role="img">
                  <use xlink:href="{{ '/assets/images/sprite.svg#navigate_before' | url }}"></use>
              </svg>
              <span class="usa-pagination__link-text">Previous</span>
          </a>
      </li>
      {% endif %}

      {% for pageNumber in pagination.hrefs %}
      <li class="usa-pagination__item usa-pagination__page-no">
          <a href="{{ pageNumber }}" class="usa-pagination__button {% if pagination.pageNumber == forloop.index0 %}usa-current{% endif %}" aria-label="Page 1">
              {{ forloop.index }}
          </a>
      </li>
      {%- endfor %}

      {% if pagination.href.next %}
      <li class="usa-pagination__item usa-pagination__arrow">
          <a href="{{ pagination.href.next }}" class="usa-pagination__link usa-pagination__next-page"
              aria-label="Next page">
              <span class="usa-pagination__link-text">Next </span>
              <svg class="usa-icon" aria-hidden="true" role="img">
                  <use xlink:href="{{ '/assets/images/sprite.svg#navigate_next' | url }}"></use>
              </svg>
          </a>
      </li>
      {% endif %}
  </ul>
</nav>