<div class="grid-col-12 desktop:grid-col-12">
	<section class="PostList TxCards TxShadowedCard grid-row grid-gap-4">
		{% for post in postslist %}
			<div class="grid-col-12">
				<div class="usa-card usa-card--flag flex-1 margin-bottom-6 portfolio-blog-card">
					<div class="usa-card__container">
						<div class="usa-card__header">
							<h2 class="usa-card__heading">
								<time datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time>
							</h2>
						</div>
						<div class="usa-card__body">
							<h3 class="usa-card__subhead">
								<a class="usa-link" href="{{ post.url  | url }}">
									{{ post.data.title }}
								</a>				
							</h3>
							{% if post.data.excerpt %}
								<p class="excerpt-text">
									{{ post.data.excerpt }}
								</p>
							{% endif %}
							{% if post.data.tags %}
								<p class="tag-container margin-top-205">
									<span>Tag:</span>
									{% for tag in post.data.tags %}
									{%- if tag != "post" -%}
									{% capture tagUrl %}/news/tags/{{ tag }}/{% endcapture %}
									<span class="usa-tag usa-tag--big">
										<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
									</span>									
									{%- endif -%}
									{% endfor %}
								</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
</div>