  </div>
</div>
<div class="grid-container">
  <section class="ProjectList">
    {%- for project in collections.projects -%}
      <a class="ProjectCard__link" href="{{ project.url | url }}">
        <div class="usa-card usa-card--no-media ProjectCard template-{{ project.data.template }}">
          <div class="usa-card__container">
            <div class="usa-card__body">
              <h2 class="usa-card__heading">{{ project.data.subtitle }}</h2>
              <h3 class="usa-card__subhead">{{ project.data.title }}</h3>
              <div class="ProjectCard__excerpt">
                {{- project.data.excerpt | markdownify -}}
              </div>
              {%- if project.data.tags- %}
                <p>
                  {%- for tag in project.data.tags -%}
                    {%- if tag != "project" -%}
                    {%- capture tagUrl- %}/tags/{{ tag }}/{%- endcapture -%}
                    <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                    {%- endif -%}
                  {%- endfor -%}
                </p>
              {%- endif -%}
            </div>
          </div>
        </div>
      </a>
    {%- endfor -%}
  </section>
</div>