<ul class="usa-card-group grid-row grid-gap-2">
  {%- for report in collections.reports -%}
  {%- if report.data.pdf -%}
    {%- assign reportLink = report.data.reportUrl -%}
    {%- else -%}
      {%- assign reportLink = report.url | url -%}
    {%- endif -%}
  <li class="usa-card usa-card--flag fy-card fy{{ report.data.year }}-card template-{{ report.data.template }} mobile:grid-col-12 {% if not report.data.year == 23 %}  widescreen:grid-col-4 desktop:grid-col-6 {%- else -%} usa-card--media-right current-year {%- endif -%}">
    <a class="ReportCard__link" {% if report.data.pdf -%}target="_blank"{%- endif %} href="{{ reportLink }}">
      <div class="usa-card__container">
        <div class="usa-card__header">
          <h2 class="usa-card__heading">
            FY{{ report.data.year }}
          </h2>
        </div>
        {% if report.data.year == 23 %}
        <div class="usa-card__media usa-card__media">
          <div class="usa-card__img">
            <img src="{{ '/assets/images/current-report-icon-floated.svg' | url }}" alt="" width="216" height="301" /> 
          </div>
        </div>
        {%- endif -%}
        <div class="usa-card__body">
          <h3 class="usa-card__subhead {% if report.data.pdf -%}pdf-icon{%- endif -%}">        
            <span>{{ report.data.subtitle }} </span>
            {% if report.data.pdf -%}
            <span class="usa-sr-only">PDF</span>          
            {%- endif -%}             
          </h3>
          <p class="excerpt-text">
            <span>{{ report.data.excerpt | markdownify }}</span>        
          </p>
        </div>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>