<ul class="usa-card-group grid-row grid-gap-2">
  {%- for report in collections.reports -%}
  {%- if report.data.pdf -%}
    {%- assign reportLink = report.data.reportUrl -%}
    {%- else -%}
      {%- assign reportLink = report.url | url -%}
    {%- endif -%}
  <li class="usa-card usa-card--flag card-{{ forloop.index }} grid-col-12 desktop:grid-col-6 tablet-lg:grid-col-6 widescreen:grid-col-4 template-{{ report.data.template }}">
    <a class="ReportCard__link" {% if report.data.pdf -%}target="_blank"{%- endif %} href="{{ reportLink | url }}">
      <div class="usa-card__container">
        <div class="usa-card__header">
          <h2 class="usa-card__heading">
            FY{{ report.data.year }}
          </h2>
        </div>
        <div class="usa-card__body">
          <h3 class="usa-card__subhead {% if report.data.pdf -%}pdf-icon{%- endif -%}">
            <span>{{ report.data.subtitle }}</span>             
          </h3>
          <p class="excerpt-text">
            <span>{{ report.data.excerpt | markdownify }}</span>        
          </p>
        </div>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>