@use "uswds-core" as *;

.usa-button {
    background-color: color('cyan-20v'); 
    color: color("violet-warm-90"); 
    border-radius: 0; 
    font-weight: 600; 
    &:hover {
        background-color: color('cyan-30v');
        color: color("violet-warm-90"); 
    }
    &:visited {
        color: color("violet-warm-90"); 
    }
}
