@use 'uswds-core' as * with (
  $theme-show-notifications: false,
  $theme-font-path: '../fonts',  
  $theme-image-path: '../../../node_modules/@uswds/uswds/dist/img',
  $theme-font-type-sans: 'poppins',
  $theme-hero-image: '../images/10x-lg-transparent.png',
  $theme-grid-container-max-width: "desktop-lg",
  $output-these-utilities: "margin, font",
  $theme-font-sans-custom-src: (
   dir: "Poppins", // the name of your font family directory
    roman: (
        100: "Poppins-Thin",
        200: "Poppins-ExtraLight",
        300: "Poppins-Light",
        400: "Poppins-Regular",
        500: "Poppins-Medium",
        600: "Poppins-SemiBold",
        700: "Poppins-Bold",
        800: "Poppins-ExtraBold",
        900: "Poppins-Black",
      ),
      italic: (
        100: "Poppins-ThinItalic",
        200: "Poppins-ExtraLightItalic",
        300: "Poppins-LightItalic",
        500: "Poppins-MediumItalic",
        600: "Poppins-SemiBoldItalic",
        700: "Poppins-BoldItalic",
        800: "Poppins-ExtraBoldItalic",
        900: "Poppins-BlackItalic",
      ),
 ),
$theme-typeface-tokens: (
   "poppins": (
     "display-name": "Poppins", 
     "cap-height": 364px,         
     "stack": "Helvetica, Arial, sans-serif", 
   ),
 )
);