 $theme-typeface-tokens: (
   "poppins": (
     "display-name": "Poppins", 
     "cap-height": 364px,         
     "stack": "Helvetica, Arial, sans-serif", 
   ),
 );

 $theme-font-sans-custom-src: (
   dir: "poppins", // the name of your font family directory
    roman: (
        100: "Poppins-Thin",
        200: "Poppins-ExtraLight",
        300: "Poppins-Light",
        400: "Poppins-Regular",
        500: "Poppins-Medium",
        600: "Poppins-SemiBold",
        700: "Poppins-Bold",
        800: "Poppins-ExtraBold",
        900: "Poppins-Black",
      ),
      italic: (
        100: "Poppins-ThinItalic",
        200: "Poppins-ExtraLightItalic",
        300: "Poppins-LightItalic",
        400: "Poppins-RegularItalic",
        500: "Poppins-MediumItalic",
        600: "Poppins-SemiBoldItalic",
        700: "Poppins-BoldItalic",
        800: "Poppins-ExtraBoldItalic",
        900: "Poppins-BlackItalic",
      ),
 );