---
layout: layouts/base.html
section: home
---
<div class="homepage-wrapper list-page-blue-background">
  <div class="usa-home banner-bg">
    <div class="banner-bg-gradient padding-y-2">
      <img src="{{ '/assets/images/homepage-gradient-bg.jpg' | url }}" alt="" width="0" height="0"
        style="display: none !important;" />
      <img src="{{ '/assets/images/homepage-gradient-bg-mobile.jpg' | url }}" alt="" width="0" height="0"
        style="display: none !important;" />
      <section class="grid-container hero-section usa-section padding-y-8" aria-label="Introduction">
        <h1>{{ hero_banner.title }}</h1>
      </section>
      <section class="news-section usa-section padding-0" aria-label="Introduction">
        <div class="usa-hero margin-top-3 grid-container">
          <p class="date-wrapper">{{ news_card.date }}</p>
          <h2>{{ news_card.title }}</h2>
          <h3>{{ news_card.subtitle }}</h3>
          <p class="usa-button">
            <a class="usa-link" href="{{ news_card.button_link | url }}">
              <span class="usa-sr-only">{{ news_card.title }}</span>
              {{ news_card.button_text }}
            </a>
          </p>
        </div>
      </section>
    </div>
    <section class="grid-container header-section padding-y-5 usa-section">
      <div class="grid-row">
        <div class="grid-row grid-gap-6">
          <h2 class="usa-hero__heading">
            {{ header_columns.title }}
          </h2>
          {% for column in header_columns.lists %}
          <div class="desktop:grid-col-4 tablet:grid-col-12 margin-top-5">
            <h3>
              {{column.title }}
            </h3>
            <p>{{column.text }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
  <section class="section1 usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap-5">
        <div class="desktop:grid-col-4 tablet:grid-col-12 margin-top-4">
          <img class="usa-media-block__img" src="{{ '/assets/images/technology-services.svg' | url }}" role="img"
            width="515" height="435" alt="Technology Services" aria-hidden="true" />
        </div>
        <div class="desktop:grid-col-8 tablet:grid-col-12">
          <h2>{{ section_1_static_content.title }}</h2>
          <p>{{ section_1_static_content.text }}</p>
          <p class="usa-button">
            <a class="usa-link" href="{{ section_1_static_content.button_link | url }}">
              {{ section_1_static_content.button_text }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section2 usa-section">
    <div class="grid-container">
      <div class="grid-row">
        <h2 class="margin-bottom-7">{{ section_2_static_content.title }}</h2>
        <p class="usa-button">
          <a class="usa-link" href="{{ section_2_static_content.button_link | url }}">
            {{ section_2_static_content.button_text }}
          </a>
        </p>
      </div>
    </div>
  </section>
  <section class="section3 usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <h2 class="margin-top-1 margin-bottom-5">{{ section_3_content.title }}</h2>
        <ul class="usa-card-group grid-row grid-gap-2">
          {% for card in section_3_content.cards %}
          {% assign isExternal = card.button_link contains "http" %}
          <li class="usa-card grid-col-12 desktop:grid-col-6 tablet-lg:grid-col-6 widescreen:grid-col-4">
            <a href="{{ card.button_link | url }}">
              <div class="usa-card__container">
                <div class="usa-card__header">
                  <div class="h2 usa-card__heading">
                    <span>{{ card.subtitle }}</span>
                  </div>
                </div>
                <div class="usa-card__body">
                  <h3>
                    <span>{{ card.title }}</span>
                  </h3>
                  <p>
                    <span>{{ card.text }}</span>
                  </p>
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <section class="section4 usa-section">
    <div class="grid-container">
      <div class="grid-row">
        <h2>{{ section_4_static_content.title }}</h2>
        <p class="usa-button">
          <a class="usa-link" href="{{ section_4_static_content.button_link | url }}">
            {{ section_4_static_content.button_text }}
          </a>
        </p>
      </div>
    </div>
  </section>
</div>