---
layout: layouts/base.html
section: investments
pagination:
  data: collections.investments
  size: 7
  alias: investments
return-to-top_text: "Return to top"
---
<div class="portfolio-bloglist-wrapper portfolio-blog-pages">
  <div class="list-page banner-bg">
    <div class="banner-bg-gradient padding-y-2">
      <img src="{{ '/assets/images/homepage-gradient-bg.jpg' | url }}" alt="" width="0" height="0"
        style="display: none !important;" />
      <img src="{{ '/assets/images/homepage-gradient-bg-mobile.jpg' | url }}" alt="" width="0" height="0"
        style="display: none !important;" />
      <section class="grid-container header-section usa-section" aria-label="Introduction">
        <h1>{{ hero_banner.title }}</h1>
        {%- if hero_banner.subtitle != null -%}
        <h2>{{ hero_banner.subtitle }}</h2>
        {%- endif -%}
        <h3>{{ hero_banner.category }}</h3>
      </section>
    </div>
    <div class="TxContent Tx__projects">
      <div class="usa-app__bg">
        <div class="Tx__projects-content">
          <div class="grid-container">
            <div class="usa-prose">
              {{ layoutContent }}
            </div>
            <section class="portfolio-blog-list desktop:margin-top-8">
              {%- for investment in investments -%}
              <div
                class="usa-card usa-card--flag flex-1 margin-bottom-6 portfolio-blog-card template-{{ investment.data.template }}">
                <div class="usa-card__container">
                  <div class="usa-card__media">
                    <div class="usa-card__img">
                      <img src="{{ investment.data.image-url | url }}" role="img" alt="{{ investment.data.title }}" width="310" height="330"
                        aria-hidden="true" />
                    </div>
                  </div>
                  <div class="usa-card__header">
                    <h2 class="usa-card__heading">
                      {{ investment.data.title }}
                    </h2>
                  </div>
                  <div class="usa-card__body">
                    <h3 class="usa-card__subhead">
                      {{ investment.data.landing-subtitle }}
                    </h3>
                    <p class="usa-button">
                      <a class="usa-link" href="{{ investment.url | url }}">
                        <span class="usa-sr-only">{{ investment.data.title }}</span>
                        {{ read-more-button_text }}
                      </a>
                    </p>

                    {%- if investment.data.tags- %}
                    <p>
                      {%- for tag in investment.data.tags -%}
                      {%- if tag != "project" -%}
                      {%- capture tagUrl- %}/tags/{{ tag }}/{%- endcapture -%}
                      <a class="usa-link" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                      {%- endif -%}
                      {%- endfor -%}
                    </p>
                    {%- endif -%}
                  </div>
                </div>
              </div>
              {%- endfor -%}

              {% if pagination.pages.length > 1 %}
              {% include "components/pagination.html" %}
              {% endif %}

              <p class="usa-identifier__required-links-item return-to-top margin-bottom-3">
                <a class="usa-link" href="#top">{{ return-to-top_text }}</a>
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>