---
layout: layouts/base.html
section: investments
category: "Investment Portfolios"
return-to-top_text: "Return to top"
all-investments: "Investments"
home-link-text: "Home"
---
<div class="portfolio-blog-pages">
  <div class="TxContent portfolio-blog-single-page static-content-page">
    <div class="banner-bg desktop:margin-bottom-2">
      <div class="banner-bg-gradient padding-y-2">
        <section class="grid-container header-section usa-section" aria-label="Introduction">
          <h1>{{ title }}</h1>
          <h2>{{ subtitle }}</h2>
          <h3>{{ category }}</h3>
        </section>
      </div>
    </div>
    <section class="usa-section grid-container">
      {% include "components/detail-page-breadcrumb.html" %}
      <div class="grid-row content-column grid-gap-6">
        <div class="desktop:grid-col-8 usa-prose usa-layout-docs" id="main-content">
          {{ layoutContent }}
        </div>
        {% include "components/side-nav.html" %}
      </div>
      <p id="return-to-top-wrapper" class="usa-identifier__required-links-item return-to-top margin-bottom-5">
        <a class="usa-link" href="#">{{ return-to-top_text }}</a>
      </p>
    </section>
  </div>
</div>

<script>
  // Set a variable for our Return to top button element.
  const scrollToTopButton = document.getElementById('return-to-top-wrapper');
  const leftNavBottom = document.getElementById('left-nav').getBoundingClientRect().bottom;
  const leftNavBottomPosition = leftNavBottom - 20;

  // Let's set up a function that shows our scroll-to-top button if we scroll beyond the height of the initial window.
  const scrollFunc = () => {
    const footerTop = document.getElementById('footer').offsetTop;
    const footerTopPosition = footerTop - 20;

    // Get the current scroll value
    let y = window.scrollY;
    let scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
    
    // If the scroll value is greater than the window height, let's add a class to the scroll-to-top button to show it!
    if (y > 1000 && y < footerTop - window.innerHeight ) {
      scrollToTopButton.className = "usa-identifier__required-links-item return-to-top margin-bottom-5 fixed";
    } else {
      scrollToTopButton.className = "usa-identifier__required-links-item return-to-top margin-bottom-5 not-fixed";
    }
  };

  const checkWidthAndApplyStyle = () => {
    if (window.innerWidth >= 1024) {
        window.addEventListener("scroll", scrollFunc);
      } else {
        window.removeEventListener("scroll", scrollFunc);
      } 
  }

  window.addEventListener("scroll", scrollFunc);
  window.addEventListener('resize', checkWidthAndApplyStyle);
</script>