---
layout: layouts/base.html
section: page
---
<div class="TxContent Tx__{{ page.fileSlug }}">
  <div class="grid-container">
    <div class="usa-prose">
      <h1>{{ title }}</h1>

      {{ layoutContent }}
    </div>

    {%- if cards -%}

    <!-- move this to a card component, possible "TxShadowedCard" variant? -->
    <div class="TxCards">
      <div class="grid-row">
        {% for card in cards %}
        {% assign isExternal = card.link contains "http" %}
        <div class="grid-col-12 desktop:grid-col-6">
          <div class="usa-card usa-card--no-media">
            <div class="usa-card__container">
              <div class="usa-card__body">
                <span class="us-text-h5">{{ card.subtitle }}</span>
                <a href="{{ card.link }}" {% if isExternal %} target="_blank" rel="noopener noreferrer" {% endif
                  %}>{{ card.title }}</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {%- endif -%}
  </div>
</div>
