---
layout: layouts/base.html
section: post
news-text: News
return-to-top_text: Return to top
back-to-news-updates_text: Back to all news and updates
home-link-text: Home
news-update-text: News and Updates
list-url: /news/
tags-list:
  - Announcements
  - In-the-News
  - Projects
---
<div class="portfolio-blog-pages">
  <div class="TxContent portfolio-blog-single-page blog-page static-content-page">
    <div class="banner-bg desktop:margin-bottom-2">
      <div class="banner-bg-gradient padding-y-3 padding-x-4">
        <section class="grid-container header-section blog-post-header-section usa-section" aria-label="Introduction">
          <h1>{{ title }}</h1>
          <h2>{{ excerpt }}</h2>
          <h3>
            <span class="news-text-wrapper">{{ news-text }}</span>
            <span class="divider padding-x-1">|</span>
            <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
          </h3>
        </section>
      </div>
    </div>
    <section class="usa-section grid-container">
      {% include "components/news-blog-post-breadcrumb.html" %}
      <div class="grid-row content-column grid-gap-6">
        <div class="desktop:grid-col-8 usa-prose usa-layout-docs" id="main-content">
          {{ layoutContent }}
          <hr>
          
          {% if tags %}
          <p class="tag-container margin-top-5">
            <span>Tag:</span>
            {% for tag in tags %}
            {%- if tag != "post" -%}
            {% capture tagUrl %}/news/tags/{{ tag }}/{% endcapture %}
            <span class="usa-tag usa-tag--big">
              <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
            </span>
            {%- endif -%}
            {% endfor %}
          </p>
          {% endif %}
          <p class="back-to-news-wrapper">
            <a href="{{ list-url | url }}">{{ back-to-news-updates_text }}</a>
          </p>
        </div>
        {% include "components/tags-side-nav.html" %}

      </div>


      <p id="return-to-top-wrapper" class="usa-identifier__required-links-item return-to-top margin-bottom-5">
        <a class="usa-link" href="#">{{ return-to-top_text }}</a>
      </p>
    </section>
  </div>
</div>

{% capture js %}
{% include "theme/js/sticky-return-to-top.js" %}
{% endcapture %}
<script>
  {{ js | jsmin }}
</script>