---
layout: layouts/base.html
section: project
category: "Investment Portfolios"
return-to-top_text: "Return to top"
all-investments: "All investment portfolios"
home-link-text: "Home"
investments-list-url: "/investments/"
---
<div class="project-category-pages">
  <div class="TxContent project-page static-content-page">
    <div class="banner-bg margin-bottom-5">
      <div class="banner-bg-gradient padding-y-3 padding-x-4">
        <section class="grid-container header-section usa-section" aria-label="Introduction">
          <h4>{{ category }}</h4>
          <h1>{{ title }}</h1>
          <h2>{{ subtitle }}</h2>
        </section>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-row margin-bottom-3">
        <nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
          <ol class="usa-breadcrumb__list">
            <li class="usa-breadcrumb__list-item">
              <a href="" class="usa-breadcrumb__link">
                <span>
                  {{ home-link-text }}
                </span>
              </a>
            </li>
            <li class="usa-breadcrumb__list-item">
              <a href="{{ investments-list-url | url }}" class="usa-breadcrumb__link">
                <span>
                  {{ all-investments }}
                </span>
              </a>
            </li>
            <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
              <span>
                {{ title }}
              </span>
            </li>
          </ol>
        </nav>
      </div>
      <div class="grid-row grid-gap-6">
        {% include "components/side-nav.html" %}
        <div class="desktop:grid-col-8 usa-prose usa-layout-docs" id="main-content">
          {{ layoutContent }}
        </div>
      </div>
      <p id="return-to-top-wrapper" class="usa-identifier__required-links-item return-to-top margin-bottom-5">
        <a class="usa-link" href="#">{{ return-to-top_text }}</a>
      </p>
    </div>
  </div>
</div>

<script>
// Set a variable for our button element.
const scrollToTopButton = document.getElementById('return-to-top-wrapper');
const leftNavBottom = document.getElementById('left-nav').getBoundingClientRect().bottom;
const leftNavBottomPosition = leftNavBottom - 20;

console.log("leftNavBottom: ", leftNavBottom);
console.log("leftNavBottomPosition: ", leftNavBottomPosition);

// Let's set up a function that shows our scroll-to-top button if we scroll beyond the height of the initial window.
const scrollFunc = () => {
  const footerTop = document.getElementById('footer').offsetTop;
  const footerTopPosition = footerTop - 20;

  console.log("footerTop: ", footerTop);
  console.log("footerTopPosition: ", footerTopPosition);

  // Get the current scroll value
  let y = window.scrollY;
  let scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

  console.log("scrollPosition Y: ", y);
  console.log("scrollPosition OG: ", scrollPosition);
  console.log("window.innerHeight: ", window.innerHeight);
  
  // If the scroll value is greater than the window height, let's add a class to the scroll-to-top button to show it!
  if (y > 1000 && y < footerTop - window.innerHeight ) {
    scrollToTopButton.className = "usa-identifier__required-links-item return-to-top margin-bottom-5 fixed";
  } else {
    scrollToTopButton.className = "usa-identifier__required-links-item return-to-top margin-bottom-5 not-fixed";
  }
};

window.addEventListener("scroll", scrollFunc);
</script>