---
layout: layouts/base.html
section: project
---
<div class="TxContent project-page">
  <div class="usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-layout-docs__sidenav desktop:grid-col-3">
          {% include "components/side-nav.html" %}
        </div>
        <main class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs" id="main-content">
          <h1>{{ title }}</h1>
          <h2>{{ subtitle }}</h2>
          <p class="usa-intro">
            {{- intro | markdownify -}}
          </p>
          <p>
            {{- outro | markdownify -}}
          </p>
          <h3 id="section-heading-h3">{{- list-of-projects-section.title | markdownify -}}</h3>
          {% for item in list-of-projects-section.projects %}
          <h4>{{ item.subtitle }}</h4>
          <div class="optional-subtitle">{{ item.subtitle2 }}</div>
          <p>{{ item.text }}</p>
          <div class="optional-link usa-identifier__required-links-item">
            <a class="usa-link" href="{{ item.link_url | url}}">{{ item.linkText }}</a>
          </div>
          {% endfor %}
        </main>
      </div>
    </div>
  </div>