---
layout: layouts/base.html
section: ideas
hero_banner:
  category: "Ideas"
---
<div class="portfolio-blog-pages">
  <div class="TxContent portfolio-blog-single-page submit-an-idea-page static-content-page">
    <div class="banner-bg desktop:margin-bottom-2">
      {% include "components/gradient-hero-banner.html" %}
    </div>
    <section class="usa-section grid-container">
      <div class="grid-row">
        <div class="desktop:grid-col-9 usa-prose usa-layout-docs" id="main-content">
          {{ layoutContent }}
          
          {% if tags %}
          <hr>
          <p class="tag-container margin-top-5">
            <span>Tag:</span>
            {% for tag in tags %}
            {%- if tag != "post" -%}
            {% capture tagUrl %}/tags/{{ tag }}/{% endcapture %}
            <span class="usa-tag usa-tag--big">
              <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
            </span>
            {%- endif -%}
            {% endfor %}
          </p>
          {% endif %}
        </div>
      </div>
      <p id="return-to-top-wrapper" class="usa-identifier__required-links-item return-to-top margin-bottom-5">
        <a class="usa-link" href="#top">{{ return-to-top_text }}</a>
      </p>
    </section>
  </div>
</div>