---
layout: layouts/base.html
section: blog
---
<div class="portfolio-bloglist-wrapper portfolio-blog-pages">
  <div class="newspage-wrapper banner-bg">
    <div class="banner-bg-gradient padding-y-2 padding-x-4">
      <section class="grid-container header-section usa-section">
        <h1>{{ pageTitle }} "{{ tag | replace: "-", " " }}"</h1>
        <h2>{{ subtitle }}</h2>
        <h3>{{ pageBrow }}</h3>
      </section>  
    </div>  
    <section class="usa-section grid-container">
      {% include "components/news-blog-post-breadcrumb.html" %}
      <div class="grid-row content-column grid-gap-6 margin-top-5">
        <div class="desktop:grid-col-8 usa-prose usa-layout-docs" id="main-content">
          {% assign postslist = collections[tag] | reverse %}
          {% include "components/posts-list.html" %}       
        </div>
        {% include "components/news-landing-tags-side-nav.html" %}
      </div>
      <p id="return-to-top-wrapper" class="usa-identifier__required-links-item return-to-top margin-bottom-5">
        <a class="usa-link" href="#">{{ return-to-top_text }}</a>
      </p>
    </section>
  </div>
</div>

{% capture js %}
{% include "theme/js/sticky-return-to-top.js" %}
{% endcapture %}
<script>
  {{ js | jsmin }}
</script>